# Dependencies
node_modules

# Build artifacts
dist

# Test outputs
**/outputs/
**/allure-results/
**/allure-report/
**/test-results/

# Auth files
**/.auth/

# Version control
.git

# IDE
.vscode/

# Logs
*.log

# Environment
.env

# GitHub artifacts
diff-stat.txt

# Documentation
**/docs/
**/jira/
**/*.md
!README.md